<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-android-theme-detection" version="2.0.2"
        xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ThemeDetection</name>
    <js-module name="ThemeDetection" src="www/ThemeDetection.js">
        <clobbers target="cordova.plugins.ThemeDetection" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ThemeDetection">
                <param name="android-package" value="ua.valeriipsol.ThemeDetection" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/ThemeDetection.java" target-dir="src/ua/valeriipsol" />
    </platform>
</plugin>
